/* Reset CSS */

* {
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  max-width: 80%;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 5px;
}

.logo h1 {
  margin-right: 15px;
}

header input {
  height: 100%;
  font-size: 16px;
  flex-basis: 100%;
  padding: 0 5px;
  margin-right: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
}

header button {
  padding: 7px 5px;
  background-color: #999999;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

header button img {
  width: 50%;
}

/* VideoContent */

.video_content {
  display: flex;
}

.video_detail_container {
  flex: 1 1 70%;
}

.video_list {
  flex: 1 1 30%;
}

.video_list {
  display: flex;
  flex-wrap: wrap;
}

/* VideoItem */

.video_item {
  padding: 5px;
}

.video_item_grid {
  width: 50%;
}

.video_item_list {
  width: 100%;
}

.video_item_container {
  display: flex;
  align-items: center;
  border: 1px solid #ececec;
  box-shadow: 8px 8px 4px -8px rgba(41, 41, 41, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.video_item:hover {
  transform: scale(1.02);
}

.video_item img {
  width: 40%;
  height: 100%;
  margin-right: 5px;
}

.video_item h3 {
  font-size: 18px;
}

.video_item span {
  font-size: 14px;
  color: grey;
}

/* VideoDetail */

.video_detail {
  padding: 1px;
}

.video_description {
  white-space: pre-wrap;
}
