.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.header form {
  display: flex;
}

.header input {
  flex-grow: 1;

  padding: 15px;
  width: 100%;
}

.header button {
  padding: 10px;
}
